.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;

	button {
		margin: 0 5px;
		padding: 13px 16px;
		background-color: transparent;
		border: 1px solid #ddd;
		cursor: pointer;
		border-radius: 15px;
		color: #333;
		transition: background-color 0.3s ease, color 0.3s ease;

		&:hover:not(.active) {
			background-color: rgba(216, 140, 111, 0.2);
		}

		&.active {
			background-color: #d88c6f;
			color: white;
		}

		&:disabled {
			background-color: transparent;
			border-color: #ddd;
			color: #aaa;
			cursor: not-allowed;
		}
	}
}
