.root {
	position: relative;
}

.icon {
	width: 20px;
	height: 20px;
	opacity: 0.3;
	position: absolute;
	left: 14px;
	top: 39px;
}

.input {
	margin-top: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	width: 330px;
	padding-left: 40px;
	font-size: 16px;
	border-radius: 10px;
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.clear {
	width: 22px;
	height: 22px;
	opacity: 0.3;
	position: absolute;
	right: 12px;
	top: 40px;

	&:hover {
		opacity: 0.9;
		cursor: pointer;
	}
}
