.root {
	position: relative;
	@media (max-width: 900px) {
		margin-top: 20px;
	}
}

.input {
	width: 240px;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px 30px;
	font-size: 16px;
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.icon {
	width: 18px;
	height: 18px;
	opacity: 0.5;
	position: absolute;
	left: 12px;
	top: 8px;
}

.clear {
	width: 28px;
	height: 28px;
	opacity: 0.3;
	position: absolute;
	right: 6px;
	top: 4px;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
